.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover,.nav>li>a:focus,.nav>li>a:hover {
	background-color:#302262;
}

.box {
	height:2000px;
}

body {
	padding-top:70px;
	background:#502262;
	color:#fff;
}

.jumbotron img {
	width:100%;
}

.jumbotron h1,h2,h3,h4,h5,h6,p,li {
	color:#fff;
}

.nav-tabs a {
	color:#fff;
}

.nav-tabs {
	background:#502262;
}
#submit {
    color:black;
}
textarea {
    width:100%;
    color:black;
}
.listitem-active, .listitem {
    list-style-type:none;
    padding-top:5px;
    word-wrap:break-word;
}
#minus {
    margin-left:5px;
    border:1px solid white;
    border-radius:50%;
    display:inline-block;
    background-color:#502262;
    color:white;
}
.disabled {
    pointer-events:none;
    opacity:.5;
