#background {
  width: 100vw;
  height: 100vh;
  background-color: ivory;
  position: absolute;
}
#fib{
  transform:rotate(90deg);
  position:absolute;
  left:50%;
  top:50%;
}

@keyframes morph {
  from {
    border-radius: 0%;
  }

  to {
    border-radius: 100%;
  }
}

.box {
  position: absolute;
  animation: morph 10s alternate infinite;
}

#red {
  width: 370.8px;
  height: 370.8px;
  margin-top: -185.4px;
  margin-left: -185.4px;
  background-color: red;
  left: 50%;
  top: 50%;
}

#orange {
  width: 185.4px;
  height: 185.4px;
  margin-top: -185.4px;
  margin-left: -92.7px;
  background-color: orange;
  left: 50%;
  top: 50%;
}

#yellow {
  width: 114.6px;
  height: 114.6px;
  margin-top: -57.3px;
  margin-left: -57.3px;
  background-color: yellow;
  left: 50%;
  top: 50%;
}

#green {
  width: 70.8px;
  height: 70.8px;
  margin-top: -35.4px;
  margin-left: -35.4px;
  background-color: green;
  left: 50%;
  top: 50%;
}

#blue {
  width: 43.8px;
  height: 43.8px;
  margin-top: -21.9px;
  margin-left: -21.9px;
  background-color: blue;
  left: 50%;
  top: 50%;
}

#indigo {
  width: 27px;
  height: 27px;
  margin-top: -13.5px;
  margin-left: -13.5px;
  background-color: indigo;
  left: 50%;
  top: 50%;
}

#violet {
  width: 16.8px;
  height: 16.8px;
  margin-top: -8.4px;
  margin-left: -8.4px;
  background-color: violet;
  left: 50%;
  top: 50%;
}

#violet2 {
  width: 185.4px;
  height: 185.4px;
  background-color: violet;
  left: 50%;
  top: 50%;
  margin-bottom: -185.4px;
  margin-left: -92.7px;
}

#indigo2 {
  width: 114.6px;
  height: 114.6px;
  background-color: indigo;
  left: 50%;
  top: 50%;
  margin-left:-57.3px;
  margin-top:-57.3px;
}
#blue2 {
  width: 70.8px;
  height: 70.8px;
  background-color: blue;
  left: 50%;
  top: 50%;
  margin-left:-35.4px;
  margin-top:-35.4px;
}
#green2 {
  width: 43.75px;
  height: 43.75px;
  background-color: green;
  left: 50%;
  top: 50%;
  margin-left:-21.87px;
  margin-top:-21.87px;
}
#yellow2 {
  width: 27.03px;
  height: 27.03px;
  background-color: yellow;
  left: 50%;
  top: 50%;
  margin-left:-13.515px;
  margin-top:-13.515px;
}
#orange2 {
  width: 16.7px;
  height: 16.7px;
  background-color: orange;
  left: 50%;
  top: 50%;
  margin-left:-8.35px;
  margin-top:-8.35px;
}
